.card-group {
  display: flex;
  gap: 2em;
}
.card {
  background-color: var(--white-color);
  border-radius: var(--global-border-radius);
  padding: 1rem;
}

#card-img {
  border-radius: var(--global-border-radius);
  width: 100%;
  max-width: 20rem;
}

#card-group-button {
  margin: 0;
  width: 100%;
}
