:root {
  --font-size-4xl: 2.207rem;
  --font-size-3xl: 1.802rem;
  --font-size-2xl: 1.602rem;
  --font-size-xl: 1.424rem;
  --font-size-l: 1.266rem;
  --font-size-m: 1.125rem;
  --font-size-s: 1rem;

  --spacing-base: 2.25px;

  --spacing-xl: 6rem;
  --spacing-l: 5rem;
  --spacing-m: 4rem;
  --spacing-s: 3rem;
}
