:root {
  --font-size-4xl: 1.802rem;
  --font-size-3xl: 1.602rem;
  --font-size-2xl: 1.424rem;
  --font-size-xl: 1.266rem;
  --font-size-l: 1.125rem;
  --font-size-m: 1rem;
  --font-size-s: 0.889rem;

  --spacing-base: 2px;

  --spacing-xl: 5rem;
  --spacing-l: 4rem;
  --spacing-m: 3rem;
  --spacing-s: 2rem;
}
