:root {
  --font-size-4xl: 1.602rem;
  --font-size-3xl: 1.424rem;
  --font-size-2xl: 1.266rem;
  --font-size-xl: 1.125rem;
  --font-size-l: 1rem;
  --font-size-m: 0.889rem;
  --font-size-s: 0.79rem;

  --spacing-base: 1.75px;

  --spacing-xl: 4rem;
  --spacing-l: 3rem;
  --spacing-m: 2rem;
  --spacing-s: 1rem;
}
