.container p {
  flex: 1 1 50%;
  margin-top: 0;
}

.container label {
  display: block;
  color: var(--black-color);
}

.container legend {
  margin-bottom: 1rem;
}

.container form {
  max-width: 40em;
}
.container input {
  width: 90%;
}

.button-group {
  float: right;
}

.container .container {
  padding: 0;
  max-width: 21em;
}
