#logo {
  margin-bottom: calc(var(--spacing-base) * 15);
  flex-shrink: 0;
}

#logo-main-color {
  fill: var(--main-color);
}

#logo-secondary-color {
  fill: var(--secondary-color);
}

.header {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--background-color);
  left: 0;
  position: fixed;
  width: 100%;
  padding-top: 1rem;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

.header div {
  display: inline-block;
}

.header fieldset:nth-child(2n) {
  margin-left: 1.5rem;
}

fieldset {
  border: none;
}

fieldset legend {
  font-size: var(--font-size-s);
  color: var(--black-color);
  font-weight: 700;
  padding: 0;
}

label {
  font-size: var(--font-size-sm);
  color: var(--black-color);
}

.label-top label {
  margin-bottom: calc(var(--spacing-base) * 2);
}
