@import './components/button-styles.css';
@import './components/form-styles.css';
@import './components/table-styles.css';
@import './components/card-styles.css';
@import './components/header-styles.css';

* {
  box-sizing: border-box;
  font-family: var(--global-font-family);
}

body {
  background-color: var(--white-color);
  margin: auto;
}

.content {
  display: flex;
  max-width: 1280px;
  align-items: stretch;
  margin: auto;
}

h1 {
  font-size: var(--font-size-6xl);
  color: var(--black-color);
}

h2 {
  font-size: var(--font-size-2xl);
  color: var(--black-color);
}

h3 {
  font-size: var(--font-size-xl);
  color: var(--black-color);
}

p,
li,
label {
  font-size: var(--font-size-m);
  color: var(--black-color);
}

main {
  padding: 0 4em;
  margin-top: calc(var(--spacing-base) * 48);
  flex: 1 1 70%;
}

input,
select {
  border-radius: var(--global-border-radius);
  background-color: var(--white-color);
  color: var(--black-color);
  height: calc(var(--spacing-base) * 12);
  border: 1px solid var(--main-color);
}

input[type='radio'] {
  width: 12px;
  height: 12px;
  margin: 3px auto 3px 0px;
}

section,
nav,
main header {
  margin-bottom: calc(var(--spacing-base) * 30);
}

section h2 {
  border-bottom: var(--spacing-base) solid var(--main-color);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: var(--global-border-radius);
  padding: 4em;
}
