@import 'variables.css';

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-l);
}

h3 {
  font-size: var(--font-size-m);
}

p {
  font-size: var(--font-size-s);
}

main {
  height: 100vh;
  margin: 0 auto;
  margin-top: calc(var(--spacing-base) * 48);
  width: 50%;
}

form {
  height: 100vh;
  position: fixed;
  background-color: var(--accent-color);
  width: 220px;
  top: 0;
  left: 0;
  z-index: 5;
  padding: calc(var(--spacing-base) * 15);
}

.label-top label {
  display: block;
  margin-bottom: calc(var(--spacing-base) * 2);
}

.label-top input {
  display: block;
  width: 100%;
}

.label-top select {
  display: block;
  width: 100%;
}

input[type='color'] {
  border: 1px solid var(--main-color);
  height: calc(var(--spacing-base) * 12);
}

input[type='radio'] {
  width: 12px;
  height: 12px;
  margin: 3px auto 3px 0px;
}

select {
  border: 1px solid var(--main-color);
  height: calc(var(--spacing-base) * 12);
}

#logo {
  margin-bottom: calc(var(--spacing-base) * 15);
}

fieldset {
  border: none;
  padding: 0px 0px calc(var(--spacing-base) * 15) 0px;
}

fieldset legend {
  font-size: var(--font-size-m);
  font-weight: 700;
  padding: 0;
}

header,
section {
  margin-bottom: calc(var(--spacing-base) * 30);
}

section h2 {
  border-bottom: var(--spacing-base) solid var(--main-color);
}
